* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }


button,
input, 
textarea {
    font-family: "Lato", sans-serif;
}

button {
    border: none;
    background-color: #fff;
    cursor: pointer;

}

.line-button {
    position: relative;   /*가상요소의 기준점이 되기위해 */
    padding: 18px 30px;
    font-size: 16px;
    line-height: 1.25;
    color: #151b26;
}

.line-button::after {  /*파란색 선을 나타낼 가상요소*/
    content:'';
    position: absolute;
    bottom:0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0066ff;
    transition: width 250ms ease-in, background-color 250ms ease-in;
}

.line-button:hover::after {   /*커서를 위에 올렸을때 */
    width: 100%;
    background-color: hotpink;
}