*{
    box-sizing: border-box;
    margin:0;
}

body {
    height: 100vh;  /*배경을 꽉 채운다는 의미 */
    font-family:"Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;  /*글자간격 지속 속성 */
    background-color:black;
}

h1{
    font-size:16px;
    font-weight:400;
    color: #1f2d3d;
    line-height:1.25;
}

strong {
    font-size: 14px;
    font-weight: 400;
    color: #afb3b9;
    line-height: 1.4285714286;
}

p {
    font-size: 16px;
    color: #79818b;
    line-height: 1.5;

}

.clearfix ::after{  /*float로 망가진 레이아웃을 잡아줌 */
    content:'';
    display:block;
    clear:both;
}

.card{
    padding:20px;
    max-width:540px;
    background-color:#fff;
}

.card-user {
    width: 44px;
    height: 44px;
    margin-right:20px;
    border-radius:50px;
}

.card-content h1 {
    margin-bottom: 4px;
}

.card-content strong {
    display:block;
    margin-bottom: 12px;
}

.card-user,
.card-content {
    float:left;
}